/* font-family: 'Alfa Slab One', cursive;
font-family: 'Caprasimo', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Special Elite', cursive; */

#container {
    display: flex;
    justify-content: space-around;
    margin: 75px 20px;
    font-family: 'Caprasimo', cursive;
    color: black;
}

#center-card {
    margin-left: 10px;
    margin-right: 10px;
}

.vision {
    font-family: 'Caprasimo', cursive;
}

.outlined-text {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.outlined-text-sm {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#sideNav {
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.bg-title {
    background-image: url(../Images/hero.jpg);
}

/* KONAS MODAL
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.modal-button {
    margin-top: 10px;
}
*/