/* font-family: 'Alfa Slab One', cursive;
font-family: 'Caprasimo', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Special Elite', cursive; */

.vision {
    font-family: 'Caprasimo', cursive;
}

.outlined-text {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-fill-color: white;
    text-stroke-width: 2px;
    text-stroke-color: black;